page-read {
  .content{
    line-height:1.6;
    font-size: 16px;
    position: relative;
  }
  .more-btn{
    position: fixed;
    top:0px;
    right: 0px;
    z-index: 9999;
  }
  .back-btn{
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 9999;
  }
  .text-smaller {
    border-right: 1px solid $list-ios-border-color;
  }

  .row-dots {
    border-bottom: 1px solid $list-ios-border-color;
  }

  .dot {
    border: 1px solid $list-ios-border-color;
  }
}
