page-mine {
  .img{
    margin: 20px auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  h2{
    margin: 30px auto;
    text-align: center;
  }
  .center{
    text-align: center;
  }
}
